.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    background-color: darkcyan;
    position: sticky;
    z-index: 100;
    box-shadow: 0px 5px 8px -3px black;
    font-family: 'Roboto', sans-serif;
}

.header__left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__left > img {
    height: 80px;
}

.header__input {
    display: flex;
    align-items: center;
    background-color: rgb(1, 99, 99);
    padding: 10px;
    margin-left: 20px;
    border-radius: 50px;
    height: 50px;
    margin-top: 20px;
}

.header__input > input{
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.header__middle {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 0px;
    margin-left: 30px;
}

.header__option > .MuiSvgIcon-root {
    color: rgb(61, 61, 61);
    font-size: 60px;
    margin-bottom: 0px;
}

.header__option:hover > .MuiSvgIcon-root {
    color: white;
}

.header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
    margin-left: 60px;
    margin-right: 60px;
}

.header__option:hover {
    background-color: rgb(0, 167, 167);
    border-radius: 10px;
    align-items: center;
    border-bottom: 4px solid whitesmoke;
}

.header__option--active > .MuiSvgIcon-root {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 120px;
    margin-top: -20px;
    margin-bottom: -60px;
    padding: 0 30px;
}

.header__option--active {
    border-bottom: 4px solid whitesmoke;
    margin-left: 60px;
    margin-right: 60px;
}

.header__right {
    display: flex;
    margin-left: 60px;
}

.header__logout {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    cursor: pointer;
    margin-left: -30px;
    font-family: 'Roboto', sans-serif;
    font-size: 0px;
}

/*.header__logout:hover {
    background-color: rgb(0, 167, 167);
    border-radius: 100px;
    border-bottom: 4px solid whitesmoke;
    margin-right: 40px;
}*/

.header__logout:hover > .MuiSvgIcon-root {
    color: white;
}

.header__logout > .MuiSvgIcon-root {
    color: rgb(61, 61, 61);
    font-size: 60px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: -20px;
}

.header__option--active:hover {
    background-color: rgb(0, 167, 167);
    border-bottom: 4px solid whitesmoke;
    border-radius: 10px;
}

.header__avatar {
    display: flex;
    margin-right: -10px;
    margin-top: 5px;
    margin-top: 10px;
}

.header__avatar > h4 {
    margin-right: 10px;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: -10px;
    font-family: 'Roboto', sans-serif;
    align-content: center;
}

